asgiref
dj-database-url
Django
django-appconf
django-avatar
django-ckeditor
django-gravatar
django-gravatar2
django-js-asset
dnspython
gravatar
gunicorn
Pillow
psycopg2-binary
python-dotenv
sqlparse
typing_extensions
tzdata
whitenoise
